*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   font-family: 'Open Sans', sans-serif;
}

.container-banner{
    clear: both;
    width: 80% !important;
    height: 30% !important;
    max-width: 100%;
}
.slide{
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    position: absolute;
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.img-text{
    width: 100% !important;
    height: 60% !important;
    top:40px;
    left: 0px;
    z-index: 1;
    margin: auto !important;
    color: white;
    position: absolute;
    text-align: center;
}
.learn-button{
    background-color: #656565;
    color: white;
    border: #656565;
}

/*Begin neel*/

.center-section-div{
	margin-top: 25px;
	margin-bottom: 10%;
	color: rgb(153, 153, 153);
    font-family: 'Open Sans', sans-serif;
    
}

.center-section-cards {
	width: 33.33%;
	float: left;
}

.center-section-camera {
	width: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -15px;
}

.center-section-p {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: -10px;
	font-size: 14;
	color: rgb(153, 153, 153);

}

.center-section-h3 {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px; 
	color: rgb(153, 153, 153);
	font-weight: normal;
}

.center-section-h1{
	text-align: center;
	font-weight: normal;
}
/*End Nee'ls section: center-section*/

/*kanika's css code start here*/
.register-now-section{
    text-align: center;
    background: #90bf3e;
    color: #ffffff;
    width: 100%;
    margin:auto;
    margin-bottom: 10px;
    padding: 20px;
}
#register-section-link-1,
#register-section-link-2,
#register-section-link-3{
    color: #ffffff;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}
#register-section-link-2,
#register-section-link-3
{
    border-left:2px solid #ffffff;  
}
#bottom-section{
    box-sizing: border-box;
    border-style:solid;
    border-color: #ccc;
    background: #ffffff;
}
.login-section{
    color: #5E5E5E;
}
#h3-login-section{
    padding-left: 40px;
    padding-bottom: 10px;
    color: #5E5E5E;
    border-bottom:3px solid #ccc;
}
#login-button-2{
    margin-left: 48%;
    margin-right: 48%;
    display: block;
    text-align: center;
    background: #242424;
    color: #ffffff;
    border:none;
    padding: 8px 12px;
}



.register-button{
    background: #242424;
    color: #ffffff;
    border:none;
    padding: 8px 16px;
}
ul {
  list-style-type: none;
}
label{
    float: left;
    margin-left: 3%;
}
#username,
#password{
    float:right;
    width:85%;
    margin-right: 5%;
}
.last-section{
    clear: both;
    bottom: 0;
}
/*kanika's css code end here*/
/*Nicks*/
.container {
	padding: 2% 10%;
	margin-bottom: 2%;
}

img.header-image {
	float: left;
	width: 30px;
	height: 30px;
}

a.header-link {
	text-decoration: none;
	color: lightgrey;
}

#header {
    position: relative;
	top: 0;
	background: #9ac746;
    width: 100%;
    height: 16%;
}

#right-buttons {
	float: right;
}

#social-buttons {
	float: left;
}

#social-button {
	padding: 0px 2px;
}

#login-buttons {
	float: right;
	margin-top: 7px;
	margin-left: 20px;
}

#login-button {
	background: #D93E17;
	margin: 0 -3px;	
	padding: 4px 8px;
	border: 1px solid black;
	border-radius: 5px;
}

#main-nav {
    clear: both;
	position: absolute;
    bottom: 0;
	left: 10%;
	padding: 0;
    width: 80%;
}

#main-h1 {
	float: left;
    color: white;
    height: 20%;
}

#nav-button {
	box-sizing: border-box;
	margin: 0 -3px;
	background: #3A3B40;
	padding: 1% 0;
	text-align: center;
	width: 16.66666666%;
    display: block;
    float: left;
}

#home-button {
	box-sizing: border-box;
	margin: 0 -3px;
	margin-left: 0;
	background: #D93E17;
	padding: 1% 0;
	text-align: center;
	width: 16.66666666666%;
    display: block;
    float: left;
}
#page-content{
    margin: auto 10%;
}
